
.shop-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card-shop {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.cardBtn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    opacity: 0.7;
}

.cardBtn:hover {
    background-color: black;
    opacity: 1;
    
}

.cart {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
}

.cart h2 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.cart li h3 {
    margin: 0;
    font-size: 1.2em;
}

.cart li p {
    margin: 0;
    color: #666;
    font-size: 1em;
}

.btn-remove {
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-remove:hover {
    background-color: darkred;
}

.btn-checkout {
    background-color: lightgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-checkout:hover {
    background-color: green;
}
