.c3-play{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: lightskyblue;
  height: 48px;
}

.c3-play:hover{
  background-color: blue;
}

.quiz_difficulty {
  text-align: center;
  font-style: italic;
  margin: 1rem 0 0 0;
}

.quiz_question {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.quiz_answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.quiz_button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  background: #6060ff;
  color: white;
  font-size: 1.4rem;
  border-radius: 1rem;
  outline: none;
  border: 3px solid transparent;
  transition: background 0.15s, transform 0.15s, border-color 0.15s;
}

.quiz_next-button {
  margin: 1rem auto;
  width: 25%;
}

.quiz_button:hover {
  background: #3c3cda;
  transform: rotate(1deg) scale(1.01);
}

.quiz_button:active {
  background: #2828a3;
  transform: rotate(2deg) scale(1.02);
}

.quiz_button:focus {
  border-color: black;
}

.quiz_button.quiz_button--disabled {
  background: #c3c3d8;
}

.quiz_button.quiz_button--correct {
  background: #27bd26;
}

.quiz_button.quiz_button--incorrect {
  background: #c02626;
}

.stats {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.stats_container {
  min-width: 100px;
  text-align: center;
  color: white;
  background: #000067;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  margin: 0 0.25rem;
}

.stats_label {
  font-size: 0.6rem;
  font-style: italic;
}

.stats_value {
  font-size: 1rem;
}

.end-screen {
  text-align: center;
}

.end-screen_trophy {
  font-size: 2.5rem;
  margin: 1rem;
}

.end-screen_stat {
  margin: 1rem;
}

.end-screen_stat-label {
  font-size: 1rem;
  font-style: italic;
}

.end-screen_stat-value {
  font-size: 2rem;
  font-weight: bold;
}
