.notizia{
    border: solid black 1px;
    padding: 2vh;
    border-radius: 5vh;
    margin: 1%;
}

h1{
    font-weight: bold;
    color:rgb(61, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1%;
}

.card-fuori{
    display: grid;
    padding:2%;
    margin: 2%;
    grid-template-columns: 1fr 1fr;
 }


img{
    border: rgb(61, 61, 61) 2px solid;
}

.bordo{
    border:   1px;
    margin: 5%;
    padding:2%;
    border-radius: 1%;
}


@media screen and (max-width: 600px){
    .card-fuori{
        height: 20%;
        width: 20%;
        display: grid;
        padding:2%;
        margin: 2%;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: 1fr;
        
     }
}


